.app {

}

.song-container {

}

.favorites {

}

.song {
  flex-flow: row wrap;
  background-color: black;
  color: white;
  height: 400px;
  width: 250px;
  padding: 10px;
  margin: 15px;
}

.youtube-link {
  color: white;
}